<html>
	<head>
		<title> Minesweeper </title>
		<link rel="stylesheet" href="/stylesheets/homePage.css" type="text/css"></link>
		<script language="javascript">
			function changeMode() {
				var mode = document.getElementById("selectMode");
				document.forms[0].action = "/mine/createBoard?mode=" + mode.options[mode.selectedIndex].text;
				document.forms[0].submit();
			}
		</script>
	</head>
	<body>
		<form method="post" action="">
		<table>
			<!-- header table --> 
			<table class=headerTable>
				<tr>
					<td class=newGameCell>
						<%= link_to "New Game",
							url = {:controller => :GenerateBoard, :action => :createNewBoard, :mode => params[:mode]},
							html_options = {'accesskey' => 'n', 'title' => 'Click to start a game in the same mode. Access key is n.'} %>
						<br>
						<span class=sameModeText>
							(in same mode)
						</span>
					</td>
					<td>
						<label accesskey=C for=selectMode>
							<span class=accessKey>C</span>hange mode:
						</label>
						<select id="selectMode" onchange="javascript:changeMode();" value=<%=params[:mode]%>>
							<%
								modes = request.query_parameters[:modes]
								modes.each {|mode| %>
								<%= "<option>#{mode}</option>" %>
								<% } %>
							%>
						</select>
					</td>
				</tr>
			</table>
			<!-- end of header table -->
		</table>
		
		
		<!-- Just to satisfy Rails, uff... -->
		<%= token_tag %>
		</form>
	</body>
</html>