<html>
	<head>
		<title> Minesweeper </title>
		<link rel="stylesheet" href="/stylesheets/homePage.css" type="text/css"></link>
		<script src="/javascripts/jquery-1.3.2.min.js"></script>
		<script src="/javascripts/homePage.js"></script>
	</head>
	<body>
		<form method="post" action="">
		<table>
			<!-- header table --> 
			<table class=headerTable>
				<tr>
					<td class=newGameCell>
						<%= link_to "New Game",
							url = {:controller => :GenerateBoard, :action => :createNewBoard, :mode => params[:mode]},
							html_options = {'accesskey' => 'n', 'title' => 'Click to start a game in the same mode. Access key is n.'} %>
						<br>
						<span class=sameModeText>
							(in same mode)
						</span>
					</td>
					<td>
						<label accesskey=C for=selectMode>
							<span class=accessKey>C</span>hange mode:
						</label>
						<select id="selectMode" value=<%=params[:mode]%>>
							<%
								modes = request.query_parameters[:modes]
								modes.each {|mode| %>
								<%= "<option>#{mode}</option>" %>
								<% } %>
							%>
						</select>
					</td>
				</tr>
			</table>
			<!-- end of header table -->
		</table>
		
		<!-- game board -->
		<center>
			<table width=300 id=board cellspacing=0>
				<s:iterator value="%{#session.board.rows}" var="singleRow">
					<tr>
					<s:iterator value="#singleRow" var="cell">
						<td>
							<s:if test="cell.visible == true">
								<s:property value="cell.tileValue"/>
							</s:if>
							<s:else>
								&nbsp;
							</s:else>
						</td>
					</s:iterator>
					</tr>
				</s:iterator>
			</table>

			<table width=300>
				<!-- Time counter and mine counter fields -->
				<tr>
					<td class=fieldSpacer>&nbsp;</td>
					<td>Mines:</td>
					<td class=field>5</td>
					<td class=fieldSpacer>&nbsp;</td>
					<td>Time:</td>
					<td class=field>5</td>
					<td class=fieldSpacer>&nbsp;</td>
				</tr>
				<!-- Time counter and mine counter fields end here -->
			</table>
		</center>
		<!-- end of game board -->

		<div id=usage_div>
			<h3>Usage</h3>
			<ul>
				<li>
					<span>Select a tile</span> - Mouse over it or use the arrow keys
				</li>
				<li>
					<span>Mark/unmark a tile as suspect</span> - right click on it or Shift + spacebar 
				</li>
				<li>
					<span>Reveal a tile</span> - click on it or press the spacebar.
				</li>
			</ul>
		</div>

		<!-- Just to satisfy Rails, uff... -->
		<%= token_tag %>
		</form>
	</body>
</html>